.version {
  font-size: 14px !important;
  font-family: Courier;
}

.nav a {
  border: 1px solid #999;
  margin-left: 4px;
}

a .glyphicon, a .fa {
  margin-right: 12px;
}

p {
  margin: 5px;
}

.sep {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px dotted #888;
}

h3.doc {
  font-size: 18px;
  font-weight: bold;
}

.footer {
  margin-top: 20px;
}

div.syntax {
  background-color: #DDD;
  border-radius: 6px;
  padding: 8px;
  text-align: center;
  font-family: Courier;
}

canvas {
  border: 1px solid #444;
  margin: auto;
}

.center {
  text-align: center;
}

